<div id="footerFirst">
    <ul>
        <li id="HomeFooterLink">
            <a href="/default.aspx" title="Sueetie: Online Community Software for Nice People">Home</a>
        </li>
        <li id="BlogFooterLink">
            <a href="/blogs/default.aspx" title="Blogs">Blogs</a>
        </li>
        <li id="MediaFooterLink">
            <a href="/media/default.aspx?aid=1" title="Media Gallery">Media</a>
        </li>
      <li id="ForumFooterLink">
        <a href="/forum/default.aspx" title="Forums">Forums</a>
      </li>

      <li id="WikiFooterLink" class="last">
        <a href="/wiki/default.aspx" title="Wiki">Wiki</a>
      </li>
    </ul>
</div>
