<div id="menu">
  <a href="/default.aspx" id="HomeTab">Home</a> 
  <a href="/blogs/default.aspx" id="BlogTab">Blogs</a> 
  <a href="/media/default.aspx?aid=1" id="MediaTab">Media</a> 
  <a href="/forum/default.aspx" id="ForumsTab">Forums</a>  
  <a href="/wiki/default.aspx" id="WikiTab">Wiki</a>
  <a href="/members/login.aspx" id="LoginTab">Login</a>
</div>
