<div id="footerlinks">
    <span id="HomeFooterLink">
        <a href="/">Accueil</a>
    </span>
    <span id="BlogsFooterLink">
        &bull;
        <a href="/Blog/">Blog</a>
    </span>
    <span id="orumsFooterLink">
        &bull; <a href="/Forum/">Forums</a>
    </span>
    <span id="MediaFooterLink">
        &bull;
        <a href="/Media/">Galerie</a>
    </span>
    <span id="WikiFooterLink">
        &bull; <a href="/Wiki/">Wikis</a>
    </span>
    <span id="ContactUsFooterLink">
        &bull; <a href="/Blog/contact.aspx">Nous contacter</a>
    </span>
    <span id="SearchFooterLink">
        &bull; <a href="/Search/">Recherche</a>
    </span>
</div>