<html>
<body>
<div style="font-family: Arial; font-size: 16px; margin-bottom: 25px;">
    Suite à votre demande, nous avons réinitialisé le mot de passe de votre compte sur le site.<br/>
    <br />
    Veuillez vous connecter sur le site à l'aide du nouveau mot de passe indiqué.<br />
    Nous vous suggérons de modifier ensuite votre mot de passe.
</div>

<div style="font-family: Arial; font-size: 14px; margin-bottom: 25px;">
<strong>Votre nom d'utilisateur :</strong>  <% UserName%><br />
<strong>Votre nouveau mot de passe :</strong> <% Password %>
<br />
</div>
<div style="font-family: Tahoma; font-size: 11px; font-weight: normal; margin-bottom: 15px;">
_______________________________________________________
<br /><br />
<a href="http://www.pathfinder-fr.org">Site Pathfinder-fr.org</a></div>
</body>
</html>
