input.SearchButtonBigText 
{
	padding: 0px 12px  0px 12px;
	margin-left: 6px;
}
.gsp_mnu0MenuGroup { width: 225px; overflow: hidden; font: 12px Verdana, Arial, Helvetica, sans-serif;background-image: url(../images/componentart/menu/group_background.gif); background-color: white; border: 1px solid #7E7E81; cursor: default; }
