<?xml version="1.0"?>
<configuration>
  <configSections/>
  <appSettings configSource="util\config\app.config"/>
  <connectionStrings configSource="util\config\connections.config"/>
  <system.net>
    <mailSettings>
      <smtp from="site@pathfinder-fr.org" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\maildrop"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C00F37EF19016FE8447ACCF0C7C731D64AAE26CDC6691216" validationKey="8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D692F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C" />
    <anonymousIdentification enabled="true"/>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SueetieConnectionString" applicationName="Sueetie" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordStrengthRegularExpression="" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="false" passwordFormat="Hashed"/>
        <!--<add name="SqlMembershipProvider_Hash" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SueetieConnectionString" applicationName="Sueetie" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordStrengthRegularExpression="" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="false" passwordFormat="Hashed"/>-->
      </providers>
    </membership>
    <roleManager defaultProvider="SqlRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".SueetieROLES">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SueetieConnectionString" applicationName="Sueetie"/>
      </providers>
    </roleManager>
    <profile defaultProvider="CustomProfileProvider" enabled="true" automaticSaveEnabled="true">
      <providers>
        <clear/>
        <add name="CustomProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SueetieConnectionString" applicationName="Sueetie"/>
      </providers>
      <properties>
        <clear/>
        <add name="DisplayName" type="String"/>
        <!--
        <add name="Gender" type="String"/>
        <add name="Country" type="String"/>
        <add name="Occupation" type="String"/>
        <add name="Website" type="String"/>
        <add name="TwitterName" type="String"/>
        <add name="Newsletter" type="Boolean"/>-->
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <sessionState cookieSameSite="None"/>
    <authentication mode="Forms">
      <forms name=".Sueetie" protection="All" timeout="60000" loginUrl="/members/login.aspx" slidingExpiration="true"/>
    </authentication>
    <customErrors mode="Off"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="SUEETIE" namespace="Sueetie.Controls" assembly="Sueetie.Controls"/>
        <add tagPrefix="SUEETIE" namespace="Sueetie.Commerce.Controls" assembly="Sueetie.Commerce"/>
        <add tagPrefix="SALTIE" namespace="Saltie.Controls" assembly="Saltie"/>
        <add tagPrefix="AjaxControlToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <location path="members/ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="members/MyAccountInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="registered"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <!-- Uncomment after Install to use Agent, IP Blocking and WWW Rewriting -->
      <!--add name="BlockedAgentModule" type="Sueetie.AddonPack.AgentBlocker.BlockedAgentModule, Sueetie.AddonPack"/>
          <add name="BlockedIPModule" type="Sueetie.AddonPack.IpBlocker.BlockedIPModule, Sueetie.AddonPack"/>
          <add name="SueetieWwwRewrite" type="Sueetie.Core.HttpModules.WwwRewrite, Sueetie.Core" /-->
      <add name="SueetieUrlRewrite" type="Sueetie.Core.HttpModules.UrlRewrite, Sueetie.Core"/>
    </modules>
    <rewrite>
      <rules>
		<rule name="redirect-to-https" patternSyntax="Wildcard" stopProcessing="true" enabled="false">
			<match url="*" />
			<conditions logicalGrouping="MatchAny">
				<add input="{HTTPS}" pattern="off" />
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
		</rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SueetieServiceAspNetAjaxBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:64263/util/services/SueetieService.svc"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SueetieServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://localhost:64263"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service name="SueetieService" behaviorConfiguration="SueetieServiceAspNetAjaxBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:64263/util/services/SueetieService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:64263/util/services/SueetieService.svc" behaviorConfiguration="SueetieServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="SueetieService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>