<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings>
      <smtp xdt:Transform="Remove"/>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="SetAttributes" />
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule xdt:Locator="Match(name)" xdt:Transform="SetAttributes" enabled="true" name="redirect-to-https" />
      </rules>
    </rewrite>
  </system.webServer>

  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SueetieServiceAspNetAjaxBehavior" xdt:Locator="Match(name)">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="https://www.pathfinder-fr.org/util/services/SueetieService.svc" xdt:Transform="SetAttributes"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="https://www.pathfinder-fr.org" xdt:Transform="SetAttributes"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <services>
      <service name="SueetieService" behaviorConfiguration="SueetieServiceAspNetAjaxBehavior" xdt:Locator="Match(name)">
        <host>
          <baseAddresses>
            <add baseAddress="https://www.pathfinder-fr.org/util/services/SueetieService.svc" xdt:Transform="SetAttributes"/>
          </baseAddresses>
        </host>
        <endpoint address="https://www.pathfinder-fr.org/util/services/SueetieService.svc" behaviorConfiguration="SueetieServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="SueetieService" xdt:Transform="SetAttributes"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>