<?xml version="1.0"?>
<nolog>

  <!-- Enter string returning true on Request.RawUrl.ToLowerInvariant().Contains(uniquePathExcerpt)-->

  <!-- wiki -->

  <url name="wiki_refresh"  uniquePathExcerpt="sessionrefresh.aspx" />

  <!-- common -->
  
  <url name="member_activate"  uniquePathExcerpt="members/activate.aspx" />
  <url name="member_register"  uniquePathExcerpt="members/register.aspx" />
  <url name="member_login"  uniquePathExcerpt="members/login.aspx" />
  <url name="yaf_info" uniquePathExcerpt="/forum/yaf_info" />

  <!-- forum -->
  
  <url name="yaf_postmessage" uniquePathExcerpt="/forum/yaf_postmessage.aspx" />
  
</nolog>

