<?xml version="1.0" encoding="utf-8" ?>
<Saltie>
    <!-- 
    
    Event
        Custom event methods and their enabled or disabled status
	    
    -->

    <Events
        PreUserAccountApproval="false"
        PostUserAccountApproval="false"
       />

  <Core 
        MemberContactEmail ="admin@yourdomain.com"
    />
  
</Saltie>

