<?xml version="1.0" encoding="utf-8" ?>
<Search>
    <!-- 
    Settings

        MinimumDocumentFrequency
            The frequency below which terms will be ignored in the source doc.
	    
	    MinimumTermFrequency
            The frequency at which words will be ignored which do not occur in at least this
            many sueetieSearchDocs. 

    -->

    <Settings
            IndexPath ="/util/index/"
            TitleBoost ="5"
            TagsBoost = "2"
            CategoryBoost = "2"
            BodyBoost = "1"
            UsernameBoost ="1"
            ApplicationTypeIDBoost ="1"
            MinimumDocumentFrequency = "5"
            MinimumTermFrequency = "2"
            MinimumScore ="0.1"
            StopWords = "a, an, and, are, as, at, be, but, by, for, if, in, into, is, it, no, not, of, on, or, such, that, the, their, then, there, these, they, this, to, was, will, with"
            BodyDisplayLength ="355"
         />

</Search>



