<?xml version="1.0" encoding="utf-8" ?>
<Sueetie>
  <!-- 
    Core
     
    SettingID (default = 1)
        Used with Sueetie_SiteSettings to uniquely identify the site.  Possible future uses.
        
   MaxListViewRecords (default = 100)
      Number of records to cache for utility lists like Most Recent Posts.  Reduces amount of 
      memory used by application.
  
  TruncateTextCount (default = 255)
      Description text size on global utility lists like Most Recent Posts.	
      
    -->

  <Core
      MaxListViewRecords="100"
      TruncateTextCount="255"
      ApplicationName="Sueetie"
      SendEmails="true"
      SiteUniqueName="SueetieDevelopment"
      AdminTheme="lollipop"
      MobileDevices="(android|droid|iphone|ipod|nokia|sonyericsson|blackberry|samsung|sec\-|windows ce|motorola|mot\-|up.b|midp\-)"
      ForumFolderName="forum"
      UseForumProfile="true"
      MarketplaceFolderName="marketplace"
    />

  <!--
    Languages
    
        Supported Sueetie Languages for Localization. Use the key value as folder name for the language's localization 
            files at /util/languages.         
-->

  <Languages>
    <Language name="US English" key="en-US" />
    <Language name="French" key="fr-FR" />
  </Languages>

  <!-- 
    Media
    
   StartPage (default = album)
      Specifies which page to use as Media Gallery start page  
    Three options:
      1. album - Default display of Gallery Server Pro 
      2. recentphotos - All photos in gallery displayed in reverse chronological order
      
  RecentPhotoCount (default = 160 @ 16 photos/page)
      Number of photos to retrieve for recent photos to prevent retrieving entire media gallery.
      
  LinkToOriginalImage (default = false) 
      When true displays original photos in new tab when clicked upon in Optimized Mode
        
    HtmlOutput 
      HTML of the linktooriginalimage hover photo in Optimized Mode that when clicked on displays in new tab

    DisplayListFormat (default = false - thumbnail view)
        Display Album Contents in Sueetie List Format or default GSP Thumbnail View
            
    -->


  <Media
      StartPage="recentphotos"
      RecentPhotoCount="100"
      LinkToOriginalImage="true"
      HtmlOutput="&lt;div class=&quot;gsp_floatcontainer&quot;&gt;&lt;div class=&quot;op1&quot;&gt;&lt;div class=&quot;op2&quot;&gt;&lt;div class=&quot;sb&quot;&gt;&lt;div class=&quot;ib&quot;&gt;&lt;a href=&quot;{OriginalUrl}&quot; target=&quot;_new&quot;&gt;&lt;img id=&quot;mo_img&quot; src=&quot;{MediaObjectUrl}&quot; class=&quot;{CssClass}&quot; alt=&quot;Click to View Original Image&quot; title=&quot;Click to View Original Image&quot; style=&quot;height:{Height}px;width:{Width}px;&quot; /&gt;&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;"
      MobileHtmlOutput="&lt;div class=&quot;gsp_floatcontainer&quot;&gt;&lt;div class=&quot;op1&quot;&gt;&lt;div class=&quot;op2&quot;&gt;&lt;div class=&quot;sb&quot;&gt;&lt;div class=&quot;ib&quot;&gt;&lt;img id=&quot;mo_img&quot; src=&quot;{MediaObjectUrl}&quot; class=&quot;{CssClass}&quot; alt=&quot;{TitleNoHtml}&quot; title=&quot;{TitleNoHtml}&quot; style=&quot;height:210px;width:280px;&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;"
      DisplayListFormat="false"
      ThumbnailWidth="115"
      ThumbnailHeight="85"
         />


  <AvatarSettings
          Height="200"
          Width="200"
          ThumbnailHeight="60"
          ThumbnailWidth="60"
          Size="150000"
          AvatarFolderPath="images\avatars\"
          ImageQuality="90" />

  <Providers>
    <Provider>
      <name>SueetieSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.Core.DbSueetieDataProvider</type>
    </Provider>
    <Provider>
      <name>SueetieSearchSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.Search.DbSueetieSearchDataProvider</type>
    </Provider>
    <Provider>
      <name>SaltieSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Saltie.Core.DbSaltieDataProvider</type>
    </Provider>
    <Provider>
      <name>CommerceSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.Commerce.Core.DbCommerceDataProvider</type>
    </Provider>
    <Provider>
      <name>AddonPackSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.AddonPack.DbAddonPackDataProvider</type>
    </Provider>
    <Provider>
      <name>LicensingSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.Licensing.DbLicensingDataProvider</type>
    </Provider>
    <Provider>
      <name>AnalyticsSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.Analytics.DbAnalyticsDataProvider</type>
    </Provider>
    <Provider>
      <name>MarketplaceSqlDataProvider</name>
      <function>SqlDataProvider</function>
      <connectionString>data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true</connectionString>
      <type>Sueetie.Commerce.DbCommerceDataProvider</type>
    </Provider>
  </Providers>

  <!-- 
    Menu
        
        The Tab IDs correspond to the IDs in your /menu.config file.  Properties are:
            url                = highlight only on designated url
            app              = highlight on application. Ex: "blog" tab would highlight for all blogs
            appkey        = highlight only for designated application by ApplicationKey. Ex: newsblog
            roles            = tab will display only when member is one of comma-delimited roles
            maskurl       = to prevent two tabs lighting when url property used and page in other menu app
            
        See Site Menu Control wiki documentation http://sueetie.com/wiki/FeatureSiteMenu.ashx            
    -->

  <Menu>
    <Tabs>
      <Tab id="AboutTab" />
      <Tab id="AboutTabBlog" appkey="blog"/>
      <Tab id="AboutTabWiki" appkey="wiki"  />
      <Tab id="AboutTabCMS" appkey="cms"  />
      <Tab id="MarketplaceTab"  />
      <Tab id="CommunityTab"  />
      <Tab id="CommunityTabDiscussions" app="forum"/>
      <Tab id="CommunityTabBlogs" url="/blogs/default.aspx"/>
      <Tab id="CommunityTabMediaGallery" appkey="media" />
      <Tab id="CommunityTabCalendar" url="/calendar/default.aspx"/>
      <Tab id="ContactTab" url="/blog/contact.aspx" />
      <Tab id="SearchTab" url="/search.aspx" />
      <Tab id="AdminTab" url="/admin/default.aspx" roles="SueetieAdministrator,ContentAdministrator" />
      <Tab id="LoginTab" url="/members/login.aspx" roles="Anonymous" />
    </Tabs>
  </Menu>

  <Footer>
    <Links>
      <Link id="HomeFooterLink" />
      <Link id="BlogsFooterLink" />
      <Link id="DiscussionsFooterLink" />
      <Link id="MediaFooterLink" />
      <Link id="WikiFooterLink" />
      <Link id="ContactUsFooterLink" />
      <Link id="SearchFooterLink" />
      <!--<Link id="AdminFooterLink" roles="SueetieAdministrator" />-->
    </Links>

  </Footer>

</Sueetie>



