<?xml version="1.0"?>
<Tasks>
    <!--<Task name="WriteSqlRecordTask"
          type="Sueetie.Core.Tasks.WriteSqlRecordTask, Sueetie.Core"
          minutes=".2"
          enabled="false"
          hour="10"
                   />
    <Task name="SleepAwhileTask"
                     type="Sueetie.Core.Tasks.SleepAwhileTask, Sueetie.Core"
                     minutes=".5"
                     enabled="false"
                   />-->
           <!--
    <Task name="UpdateIndexTask"
                     type="Sueetie.Search.Tasks.UpdateIndexTask, Sueetie.Search"
                     minutes="60"
                     enabled="true"
                   />
  <Task name="RemoveRefreshesTask"
                   type="Sueetie.Analytics.Tasks.RemoveRefreshesTask, Sueetie.Analytics"
                   minutes="60"
                   enabled="true"
                   />-->

</Tasks>
