<?xml version="1.0"?>
<urls>

  <url name="content_home" pattern="/cms/{0}.aspx" contenturl="/themes/{0}/pages/content.aspx?pg={1}" />

  <!-- common -->
  <!-- original denotes location in /themes/CurrentTheme page originates from for theming purposes -->

  <url name="home"  path="/default.aspx" rewrittenurl="/themes/{0}/pages/default.aspx" />
  <url name="contact_us"  path="/blog/contact.aspx" />
  <url name="search_home"  path="/search/default.aspx" rewrittenurl="/themes/{0}/pages/search.aspx"/>
  <url name="media_sets"  path="/mediasets.aspx" rewrittenurl="/themes/{0}/pages/mediasets.aspx" />

  <!-- members -->

  <url name="members_login" path="/members/login.aspx" rewrittenurl="/themes/{0}/pages/login.aspx" />
  <url name="members_logout" path="/members/logout.aspx" />
  <url name="members_myaccountinfo" pattern="/members/myaccountinfo.aspx?u={0}" />
  <url name="members_register" path="/members/register.aspx" rewrittenurl="/themes/{0}/pages/register.aspx" />
  <url name="members_message" path="/members/message.aspx" rewrittenurl="/themes/{0}/pages/message.aspx" />
  <url name="members_activate" path="/members/activate.aspx" rewrittenurl="/themes/{0}/pages/activate.aspx" />
  <url name="members_welcome" path="/members/welcome.aspx" rewrittenurl="/themes/{0}/pages/welcome.aspx" />
  <url name="members_masteraccountinfo" pattern="/{0}/yaf_cp_profile.aspx" />
  <url name="members_masterprofile" pattern="/{0}/yaf_profile{1}.aspx"  />
  <url name="members_myprofile" pattern="/members/profile.aspx?u={0}"  />
  <url name="members_forgotpassword" path="/members/forgotpassword.aspx" rewrittenurl="/themes/{0}/pages/forgotpassword.aspx"  />
  <url name="members_forgotusername" path="/members/forgotusername.aspx" rewrittenurl="/themes/{0}/pages/forgotusername.aspx"  />

  <!-- marketplace -->

  <url name="marketplace_home" path="/marketplace/default.aspx" rewrittenurl="/themes/{0}/pages/marketplace/default.aspx" />
  <url name="marketplace_category"  pattern="/marketplace/default.aspx?c={0}" rewrittenurl="/themes/{0}/pages/marketplace/default.aspx?c={0}" />
  <url name="marketplace_browse"  path="/marketplace/browse.aspx" rewrittenurl="/themes/{0}/pages/marketplace/browse.aspx" />
  <url name="marketplace_showproduct"  path="/marketplace/showproduct.aspx" rewrittenurl="/themes/{0}/pages/marketplace/showproduct.aspx" />
  <url name="marketplace_completepurchase"  path="/marketplace/completepurchase.aspx" rewrittenurl="/themes/{0}/pages/marketplace/completepurchase.aspx" />

  <!-- blogs-->

  <url name="blogs_home"  path="/blogs/default.aspx" rewrittenurl="/themes/{0}/pages/blogs.aspx" />
  <url name="blog_home"  path="/blog/default.aspx" />

  <!-- forums -->

  <url name="forums_home"  path="/forum/default.aspx" />

  <!-- wikis -->

  <url name="wiki_home"  path="/wiki/default.aspx" />

  <!-- media -->

  <url name="media_home"  path="/media/default.aspx" rewrittenurl="/media/gs/styles/{0}/default.aspx" />

  <!-- admin -->

  <url name="admin_home"  path="/admin/default.aspx" roles="SueetieAdministrator" />

  <!-- groups -->

  <url name="groups_home"  path="/groups/default.aspx" />


  <!-- calendars -->

  <url name="calendar_home" path="/calendar/default.aspx" rewrittenurl="/themes/{0}/pages/calendar.aspx" />
  <url name="calendar_google" path="/calendar/google.aspx" rewrittenurl="/themes/{0}/pages/calgoogle.aspx" />
  <url name="calendar_editdemo" path="/calendar/editdemo.aspx" rewrittenurl="/themes/{0}/pages/caleditdemo.aspx" />

  
</urls>

