<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes"/>
  </system.web>

  <system.net xdt:Transform="Insert">
    <mailSettings>
      <smtp from="site@pathfinder-fr.org" deliveryMethod="Network">
        <network host="smtp.pathfinder-fr.org" userName="site@pathfinder-fr.org" password="tuesPATHFINDER??"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>