/* Tag styles */
.gsp_ns ol, .gsp_ns ul { margin: 0; padding: 0; }
.gsp_ns p { margin: 0 0 0.4em 0; }
.gsp_ns hr { margin: 3px 0; padding: 0; color: #4B3124; }
.gsp_ns img { border: none;padding:0; }

.gsp_ns p.admin_h1 { margin: 0; padding: .25em; color: #1c3853; background-color: #C7D5E3; font-size: 1.4em; font-weight: bold; }
.gsp_ns p.admin_h2 { margin: .5em 0; padding: .25em; color:#800; background-color:Transparent; font-size: 1.35em; font-weight: bold; }
.gsp_ns p.admin_h3 { margin: .5em 0; padding: 1em 0 0 0; color: #4B3124; font-size: 1.2em; font-weight: bold; }

.gsp_ns a { text-decoration: underline; }
.gsp_ns a:link { color: #4B3124; }
.gsp_ns a:visited { color: #4B3124; }
.gsp_ns a:hover { color: #FF9966; }
.gsp_ns a:active { color: #f90; }

/* Pseudo heading tags */
p.gsp_h1 { margin: 0 0 .5em 0; font-size: 1.4em; font-weight: bold; color: #4B3124; }
p.gsp_h2 { margin: .5em 0; padding: .25em; background-color: #C7D5E3; font-size: 1.2em; font-weight: bold; }
p.gsp_h3 { margin: .5em 0; padding: 0; color: #4B3124; font-size: 1.2em; font-weight: bold; }

/* General classes used everywhere */
.gsp_ns { font-size: 12px; }
.gsp_fsss { font-size: 0.7em; }
.gsp_fss { font-size: 0.8em; }
.gsp_fs { font-size: 0.9em; }
.gsp_fl { font-size: 1.1em; }
.gsp_fll { font-size: 1.2em; }
.gsp_flll { font-size: 1.3em; }
.gsp_fllll { font-size: 1.4em; }
.gsp_bold { font-weight: bold; }
.gsp_em { font-style: oblique; }
.gsp_underline { text-decoration: underline; }
.gsp_minimargin { margin: 2px 0; }
.gsp_nomargin { margin: 0 !important; }
.gsp_nopadding { padding: 0 !important; }
.gsp_topcaption { margin: 0.4em 0 0 0; /* Reverse the margins of normal p */ }
.gsp_collapse { margin: 0 !important; padding: 0 !important; }
.gsp_msgsuccess { font-weight: bold; color: #063; }
.gsp_msgfailure { font-weight: bold; color: #c03; }
.gsp_msgfriendly { color: #063; }
.gsp_msgwarning { color: #c03; }
.gsp_msgattention { color: #800; }
.gsp_msgdark { color: #1C3853; }
.gsp_textcol { width: 40em; }
.gsp_hide { visibility: hidden; }
.gsp_show { visibility: visible; }
.gsp_visible { display: block; }
.gsp_invisible { display: none; }
.gsp_nowrap { white-space: nowrap; }
.gsp_textcenter { text-align: center; }
.gsp_textright { text-align: right; }
.gsp_disabledtext {color:#808080;}

.gsp_addtopmargin1 { margin-top: 0.2em !important; }
.gsp_addtopmargin2 { margin-top: 0.4em !important; }
.gsp_addtopmargin3 { margin-top: 0.6em !important; }
.gsp_addtopmargin4 { margin-top: 0.8em !important; }
.gsp_addtopmargin5 { margin-top: 1em !important; }

.gsp_addleftmargin1 { margin-left: 0.2em !important; }
.gsp_addleftmargin2 { margin-left: 0.4em !important; }
.gsp_addleftmargin3 { margin-left: 0.6em !important; }
.gsp_addleftmargin4 { margin-left: 0.8em !important; }
.gsp_addleftmargin5 { margin-left: 1em !important; }
.gsp_addleftmargin10 { margin-left: 2em !important; }

.gsp_addrightmargin1 { margin-right: 0.2em !important; }
.gsp_addrightmargin2 { margin-right: 0.4em !important; }
.gsp_addrightmargin3 { margin-right: 0.6em !important; }
.gsp_addrightmargin4 { margin-right: 0.8em !important; }
.gsp_addrightmargin5 { margin-right: 1em !important; }

.gsp_addmargin1 { margin: 0.2em !important; }
.gsp_addmargin2 { margin: 0.4em !important; }
.gsp_addmargin3 { margin: 0.6em !important; }
.gsp_addmargin4 { margin: 0.8em !important; }
.gsp_addmargin5 { margin: 1em !important; }

.gsp_addpadding1 { padding: 0.2em !important; }
.gsp_addpadding2 { padding: 0.4em !important; }
.gsp_addpadding3 { padding: 0.6em !important; }
.gsp_addpadding4 { padding: 0.8em !important; }
.gsp_addpadding5 { padding: 1em !important; }

.gsp_addtoppadding1 { padding-top: 0.2em !important; }
.gsp_addtoppadding2 { padding-top: 0.4em !important; }
.gsp_addtoppadding3 { padding-top: 0.6em !important; }
.gsp_addtoppadding4 { padding-top: 0.8em !important; }
.gsp_addtoppadding5 { padding-top: 1em !important; }

.gsp_addleftpadding1 { padding-left: 0.2em !important; }
.gsp_addleftpadding2 { padding-left: 0.4em !important; }
.gsp_addleftpadding3 { padding-left: 0.6em !important; }
.gsp_addleftpadding4 { padding-left: 0.8em !important; }
.gsp_addleftpadding5 { padding-left: 1em !important; }
.gsp_addleftpadding6 { padding-left: 1.2em !important; }

.gsp_addrightpadding1 { padding-right: 0.2em !important; }
.gsp_addrightpadding2 { padding-right: 0.4em !important; }
.gsp_addrightpadding3 { padding-right: 0.6em !important; }
.gsp_addrightpadding4 { padding-right: 0.8em !important; }
.gsp_addrightpadding5 { padding-right: 1em !important; }

.gsp_ns .rightBottom { text-align: right; padding-right: 0.4em; padding-bottom: 0.2em; }
.gsp_ns .rightBottomAbsolute { position: absolute; top: auto; right: 0.4em; bottom: 0.4em; left: auto; text-align: right; }
.gsp_ns table.userGeneralInfoTable .userComment { width: 400px; height: 50px; font: 0.9em Verdana, Arial, Helvetica, sans-serif; }
.gsp_ns table.userGeneralInfoTable .userEmail { width: 400px; }

.gsp_ns input.textbox { width: 400px; }
.gsp_ns textarea.textarea1 { width: 400px; height: 50px; font: 0.9em Verdana, Arial, Helvetica, sans-serif; }
.gsp_ns table.standardTable td { padding: 0.5em 0.5em 0.5em 0; vertical-align: top; }
.gsp_ns table.standardTable td table td { padding: 0; }
.gsp_ns table.standardTable td.col1 { text-align: right; }

.gsp_ns .validatorCalloutHighlight { background-color: #fffacd; }

/* ------------------------ 
	Structural styles 
--------------------------- */
.gsp_ns .navigation { color: #000; width: 200px; height: 250px; float: left; margin: 0; padding: 0; }
.gsp_ns .content { min-height: 400px; }
.gsp_ns .indentedContent { margin-left: 200px; min-height: 400px; }
.gsp_ns .footer { text-align: center; font-size: 60%; }

/* Styles for specific controls / places */

/* wwErrorDisplay formatting */
.gsp_ns .wwErrorSuccess { border: solid 2px #006400; background-color: #fff8dc; padding-left: 3pt; padding-right: 10pt; }
.gsp_ns .wwErrorFailure { border: solid 2px darkred; background-color: #fff8dc; padding-left: 3pt; padding-right: 10pt; }
.gsp_ns .wwErrorFailure li { margin-top: 0.5em; }

/* usermessage.ascx */
.gsp_ns .um0ContainerCss { border: 1px solid black; background-color: #C7D5E3; width: 90%;min-height: 52px;  }
.gsp_ns .um0HeaderDetailWithImageCss { margin-left: 75px; }
.gsp_ns .um0HeaderDetailWithoutImageCss { }
.gsp_ns .um0HeaderCss { font-size: 1.5em; color: #800; padding: 0.2em; }
.gsp_ns .um0DetailCss { font-size: 1.2em; padding: 0.2em; }

.gsp_ns .um1DetailCss { font-size: 0.8em; padding: 0.2em; }

/* Header section */
.gsp_ns .header { background-color:transparent; overflow:hidden; } /* #ECF1F6 */
.gsp_ns p.bannertext { font: italic 2.5em 'Monotype Corsiva' , 'Bookman Old Style' ,Arial,Sans-Serif; color:#4B3124;color: #f5f5f5; margin: 0; padding: 0 0 0 0; }
.gsp_ns p.bannertext a { text-decoration: none; }
.gsp_ns p.bannertext a, .gsp_ns p.bannertext a:visited { color:#4B3124; }
.gsp_ns p.bannertext a:hover { color: #FF9966; }

/* login.ascx, popup version */
.gsp_ns .loginContainerUC { float:right; }

/* login.ascx, page version */
.gsp_ns .loginContainerPage { width:400px;border:1px solid #B5C7DE;margin:2em auto 0;background-color:#eee; }
.gsp_ns .loginContainerPage table tr { height: 2em; }
.gsp_ns .gsp_login { width:100%; }
.gsp_ns .gsp_login .loginlabel { padding-right:0.5em; }
.gsp_ns .gsp_login .logintextbox { width: 12em;border:1px solid #808080; }
.gsp_ns .gsp_login input.loginbutton { width: 6em; text-align: center; }
.gsp_ns .loginTitle { background-color: #336699; font-weight: bold; font-size: 1.2em; color: White; }
.gsp_ns .invalidLoginMsg { border: solid 2px darkred; background-color: #fff8dc;color: #c03; width: 300px; margin: 2em auto 0 auto;padding:0.5em;text-align:center;}

/* search.ascx */
.gsp_ns .searchcontainer { float:right; }

/* editalbumtemplate.ascx */
.gsp_dg0DialogCss .textarea2 { width: 400px; height: 200px; font: 0.9em Verdana, Arial, Helvetica, sans-serif; }
.gsp_dg0DialogCss input.textbox { width: 400px; }
.gsp_dg0DialogCss table.standardTable td { padding: 0.5em 0.5em 0.5em 0; vertical-align: top; }
.gsp_dg0DialogCss .okCancelContainer { position: absolute; top: auto; right: 0.3em; bottom: 0.3em; left: auto; }

/* albummenu.ascx */
.gsp_ns div.albumMenuButton { font-size: 12px; float: right; }
.gsp_ns div.albumMenuContainer { margin: 0; padding: 0; }
.gsp_ns div.albumMenuContainer div.albumMenu { padding: 5px 0 5px 2px; font-size: 18px;}
.gsp_ns div.albumMenuContainer div.indented  { margin-right: 120px; }



/* usermessage.ascx on album.ascx */
.gsp_ns .um2ContainerCss { margin: 2px;border: 1px solid black; background-color: #C7D5E3; width:500px;min-height: 52px; }
.gsp_ns .um2HeaderCss { font-size: 1.5em; color: #800; padding: 0.2em; }
.gsp_ns .um2DetailCss { font-size: 1.1em; padding: 0.2em; }

/* albumheader.ascx */
.gsp_ns .albumHeaderReadOnly { margin: 0; padding-left: 0.1em; border-bottom: #4B3124 2px solid; }
.gsp_ns .albumHeaderEditableContentOff { padding: 1px 1px 0px 1px; border-bottom: #4B3124 2px solid; }
.gsp_ns .albumHeaderEditableContentOn { background-color: #EFEFEF; border: 1px dashed #999999; padding-bottom: 1px; }
.gsp_ns .albumHeaderStats { float: right; font-weight: bold; font-size: 11px;}

/* mediaobjectview.ascx */
.gsp_ns div#MoViewOuter { text-align: center; }
.gsp_ns div#divMoView { margin: 0 auto; }
.gsp_ns div#divMoView .navleft:hover, .gsp_ns div#divMoView .navright:hover { background-color: #A2B9D1; }
.gsp_ns div#divMoView .permalinkContainer { background-color: #B5C7DA; border: 1px solid #4B3124; padding: 0.2em; }
.gsp_ns div#divMoView .editableContentOff { padding: 1px; min-height: 50px; }
.gsp_ns div#divMoView .editableContentOn { background-color: #EFEFEF; border: 1px dashed #999999; min-height: 50px; }
.gsp_ns div#divMoView .moContainer { width: 100%;}
.gsp_ns div#divMoView div#mediaObjectInfoContainer { float: right;}
.gsp_ns div#divMoView .mediaObjectTitle { margin: 0 0 0.4em 0; padding: 0; }

/* Image drop shadow for thumbnails and compressed images (http://www.positioniseverything.net/articles/dropshadows.html) */
html>body .gsp_ns .op1 { background: url(../../images/shadow_tr_8x8.png) right top no-repeat;float:left;display:inline; } 
html>body .gsp_ns .op2 {background: url(../../images/shadow_bl_8x8.png) left bottom no-repeat;padding-top: 8px;padding-left: 8px;}
html>body .gsp_ns .sb {background: url(../../images/shadow_800x800.png) bottom right;}
html>body .gsp_ns .ib {position: relative;left: -8px;top: -8px;border:1px solid #a9a9a9;}
.gsp_ns div#divMoView .sb img {border: 15px solid #fff;vertical-align: bottom;}

/* Additional drop shadow specs for thumbnails. */
.gsp_ns div.thmb .op0, .gsp_ns div.thmb2 .op0 { margin:10px auto;display:block; }
.gsp_ns div.thmb .sb img, .gsp_ns div.thmb2 .sb img {border: 5px solid #fff;vertical-align: bottom;}

.gsp_ns div.content div#divOkCancel { border-bottom: #4B3124 2px solid; width: auto; text-align: right; }
.gsp_ns div.content p.taskBody { padding: 0 0 0.3em 0; width: 60%; border-bottom: #4B3124 1px solid; }

/* thumbnailview.ascx */
.gsp_ns div.thmb { float: left; font-size: 0.9em; padding: 0 0 0 0; margin: 5px 5px; text-align: center; background-color: white; border: 1px solid; border-color: #AAA #ccc #ccc #AAA;overflow:hidden; }
.gsp_ns div.thmb p.albumtitle, div.thmb2 p.albumtitle { margin: 0; padding: 0; background-color: #4B3124; color: #fff;border-bottom:1px solid #ccc; }
.gsp_ns div.album { background-color: #f4f4f4 !important; }
.gsp_ns div.album .caption { white-space:nowrap; }

/* rearrange.ascx */
.gsp_ns div.snapDock { float: left;margin: 5px; }
.gsp_ns div.snapDock:hover { cursor:move; }
.gsp_ns div.thmb2 { font-size: 0.9em;text-align: center; background-color: white; border: 1px solid; border-color: #AAA #444 #444 #AAA;overflow:hidden;  }
.gsp_ns div.scrollBox { position: fixed; top: 0; left: 0; width: 100%; height: 20px;line-height:20px;font-size:80%;color:#4B3124; background-color: #DAE3EC;text-align:center;z-index: 9999999; }
.gsp_ns div#divScrollDown { bottom: 0;top:auto; }

/* editcaptions.ascx */
.gsp_ns textarea.textareaEditCaption { width: 160px; height: 100px; }

/* rotateimages.ascx */
.gsp_ns div.thmbRotate { float: left; padding: 0; margin: 5px 5px; text-align: center; }
.gsp_ns div.thmbRotate table { margin: 0 auto; }
.gsp_ns div.thmbRotate td { text-align: center; }
/* IE 5 hack to center links */
.gsp_ns div.thmbRotate td a { display: block; border: 1px solid #336699; }
.gsp_ns div.thmbRotate td a.gsp_hor { width: 42px; height: 17px; margin: auto; }
.gsp_ns div.thmbRotate td a.gsp_vert { width: 17px; height: 42px; }
.gsp_ns div.thmbRotate td a:hover { background-color: #C7D5E3; }
.gsp_ns div.thmbRotate img { display: block; margin: 0; padding: 0; border: 1px solid; border-color: #444 #AAA #AAA #444; }
.gsp_ns div.thmbRotate img.rotate { display: inline; }

/* recoverpassword.ascx */
.gsp_ns .pwdrecover { width:400px;background-color: #EFF3FB; color: #333333; border: 1px solid #B5C7DE; margin: 2em auto 0 auto;text-align:center; }
.gsp_ns .pwdrecover tr { height: 2em; }
.gsp_ns .pwdrecoverTitle { background-color: #336699; font-weight: bold; font-size: 1.2em; color: White;padding:.5em; }
.gsp_ns .pwdRecoverRetrieve { padding:.5em; }
.gsp_ns .um3ContainerCss { border: 1px solid black; background-color: #C7D5E3; width: 400px;margin:3em auto 0 auto; }

/* changepassword.ascx */
.gsp_ns .changepwd { background-color: #EFF3FB; color: #333333; border: 1px solid #B5C7DE; margin: 2em auto 0 auto; }
.gsp_ns .changepwd tr { height: 2em; }
.gsp_ns .changepwdTitle { background-color: #336699; font-weight: bold; font-size: 1.2em; color: White; }

/* Site Admin - General page (pages/admin/general.ascx) */
.gsp_ns div#verContainer {padding:0.2em;border: 1px solid #4B3124;width:470px;background-color:#ECF1F6;}
.gsp_ns div#verContainer .verHdr {font-size: 1.2em;font-weight:bold;}

/* backuprestore.ascx */
.gsp_ns table#restoreFileContainer {border: 1px solid #1C3853;background-color:#ECF1F6; border-collapse:separate;}
.gsp_ns table#restoreFileContainer tr.tableSummaryRow { color: #000;background-color:#A2B9D1; }
.gsp_ns table#restoreFileContainer tr.tableHeaderRow { font-weight: bold; color: #1C3853;background-color:#C7D5E3; vertical-align:bottom; }
.gsp_ns table#restoreFileContainer td { padding:0.2em; }
.gsp_ns table#restoreFileContainer .topBorder { border-top: 1px solid #1C3853; }
.gsp_ns table#restoreFileContainer .bottomBorder { border-bottom: 1px solid #1C3853; }
.gsp_ns table#restoreFileContainer td.numRecords { text-align: center; }

/* manageroles.ascx */
.gsp_ns .roleNameReadOnly { color: Green; }
.gsp_ns .editRoleDialogContent { padding: 0.2em; position: relative; height: 430px; overflow: auto; }

/* manageusers.ascx */
.gsp_ns .userNameReadOnly { color: Green; }

.gsp_ns .editUserDialogContent { padding: 0.2em; position: relative; height: 430px; overflow: auto; }
.gsp_ns .addUserDialogContent { padding: 0.2em; height: 430px; overflow: auto; }

.gsp_ns table.newUserWizStep1Table td { padding: 0.5em 0.5em 0.5em 0; vertical-align: top; }
.gsp_ns table.newUserWizStep1Table td input { width: 200px; }

.gsp_ns .um1ContainerCss { border: 1px solid black; background-color: #C7D5E3; width: 97%; height: 100px; overflow: auto; }
.gsp_ns .um1HeaderCss { font-size: 1.2em; color: #800; padding: 0.2em; }
.gsp_ns .um1DetailCss { font-size: 0.9em; padding: 0.2em; }

/* install.ascx, upgrade.ascx */
.gsp_ns div#wizInstall { margin: 25px auto auto auto; width: 650px; height: 625px; border: 3px solid #61002B; }
.gsp_ns div#wizInstall div#wizHdr { height: 75px; background-color: #ECF1F6;border-bottom:1px solid #61002B;position:relative; }
.gsp_ns div#wizInstall div.wizCtnt { height: 440px;overflow:auto; background-color:#ECECD9;padding:1em; }
.gsp_ns div#wizInstall div.wizCtnt .gsp_h2 { margin:0 0 1em 0;padding:0;font-size:1.4em;background-color:Transparent; }
.gsp_ns div#wizInstall div#wizFtr { width: 100%; height: 79px; background-color: #ECF1F6; position: relative;border-top:1px solid #61002B; }

/* ------------------------ 
	Structural styles 
--------------------------- */
.gsp_ns .gsp_navigation { color: #000; width: 200px; height: 250px; float: left; margin: 0; padding: 0; }
.gsp_ns .gsp_content { min-height: 400px; }
.gsp_ns .gsp_indentedContent { margin-left: 200px; min-height: 400px; }
.gsp_ns .gsp_footer { text-align: center; font-size: 80%; _clear: left; }
.gsp_ns .gsp_footer img {margin-top: 30px;}
/*_clear is IE5&6-only hack*/

.gsp_floatcontainer { overflow: hidden; margin: 20px auto 40px auto;}

/* pager.ascx */
.gsp_ns .gsp_pager { margin: .4em 0; text-align: center; _clear: left; }
/*_clear is IE5&6-only hack*/
.gsp_ns .gsp_pager a:link { color: #8C4665; }
.gsp_ns .gsp_curpage { padding: .4em; background-color: #DAE3EC; color: #61002B; border: 1px solid #8C4665; -moz-border-radius: 8px; -webkit-border-radius: 8px; }
.gsp_ns .gsp_otherpage { padding: .4em; }
.gsp_ns .gsp_pagernext { padding: 0 0.4em; display: inline-block; width: 40px; height: 22px; position: relative; top: 5px; background: url(../../images/next.png) center no-repeat; }
.gsp_ns .gsp_pagernext:hover, .gsp_ns .gsp_pagerprev:hover { background-color: #DAE3EC; }
.gsp_ns .gsp_pagerprev { background: url(../../images/prev.png) center no-repeat; padding: 0 0.4em; display: inline-block; width: 40px; height: 22px; position: relative; top: 5px; }

/* ----------------------  Sueetie Modified -------------------------------- */

.gsp_addtopmargin5Red { margin-top: 1em !important; color: Red;}
