<div id="footerlinks">
    <span id="HomeFooterLink">
        <a href="/Default.aspx" >Home</a>
    </span>
    <span id="BlogsFooterLink">
        &bull;
        <a href="/blog/default.aspx">Blog</a>
    </span>
    <span id="orumsFooterLink">
        &bull; <a href="/forum/default.aspx">Forums</a>
    </span>
    <span id="MediaFooterLink">
        &bull;
        <a href="/media/default.aspx">Media</a>
    </span>
    <span id="WikiFooterLink">
        &bull; <a href="/wiki/default.aspx">Wiki </a>
    </span>
    <span id="ContactUsFooterLink">
        &bull; <a href="/blog/contact.aspx">Contact Us</a>
    </span>
    <span id="SearchFooterLink">
        &bull; <a href="/search/default.aspx">Search</a>
    </span>
</div>