<div class="menulinks">
    <ul id="nav">
        <li id="AboutTab">
            <a href="/wiki">About</a>
            <ul class="subnav">
                <li id="AboutTabBlog">
                    <a href="/blog">Blog</a>
                </li>
                <li id="AboutTabWiki">
                    <a href="/wiki">Wiki</a>
                </li>
              <li id="AboutTabCMS">
                <a href="/cms/Demo-CMS-Page.aspx">CMS</a>
              </li>
            </ul>
        </li>
        <li id="CommunityTab">
            <a href="/forum/default.aspx">Community</a>
            <ul class="subnav">
                <li id="CommunityTabDiscussions">
                    <a href="/forum/default.aspx">Forums</a>
                </li>
                <li id="CommunityTabMediaGallery">
                    <a href="/media">Media Gallery</a>
                </li>
              <li id="CommunityTabCalendar">
                <a href="/calendar/default.aspx">Community Calendar</a>
              </li>
            </ul>
        </li>
      <li id="MarketplaceTab">
        <a href="/marketplace/default.aspx">Marketplace</a>
      </li>
        <li id="ContactTab">
            <a href="/blog/contact.aspx">Contact</a>
        </li>
        <li id="SearchTab">
            <a href="/search/default.aspx">Search</a>
        </li>
        <li id="AdminTab">
            <a href="/admin/default.aspx">Admin</a>
        </li>
    </ul>
</div>


