<?xml version="1.0"?>
<configuration>
  <appSettings configSource="app.config"/>
  <connectionStrings>
    <add name="SueetieServer" connectionString="data source=.\sqlexpress;initial catalog=PathfinderFr;integrated security=true"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <sessionState cookieless="false"/>
    <!-- Execution Timeout default is 110 seconds. Increase it to several hours when migrating data between providers
       or when rebuilding the search engine index or page links.
       1 hour = 3600 seconds. -->
    <httpRuntime executionTimeout="3600" maxRequestLength="20480" requestValidationMode="2.0" requestPathInvalidCharacters="" />
    <customErrors mode="RemoteOnly" defaultRedirect="/util/misc/error.aspx" redirectMode="ResponseRewrite"/>
    <pages enableViewState="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Anthem" namespace="Anthem" tagPrefix="anthem"/>
      </controls>
    </pages>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="C00F37EF19016FE8447ACCF0C7C731D64AAE26CDC6691216" validationKey="8B07685B2014DD6F37EDDBCC44A316085CACDC8C4727699D28B42F6031DBF158D692F9A64F420F2E190F97BC1BA1B6E5329F97C4ED06BE19CB1932F39FBABE9C" />
    <authentication mode="Forms">
      <forms name=".Sueetie" protection="All" timeout="60000" loginUrl="/members/login.aspx" slidingExpiration="true"/>
    </authentication>
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SueetieServer" applicationName="Sueetie" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordStrengthRegularExpression="" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="true" passwordFormat="Encrypted"/>
      </providers>
    </membership>
    <roleManager defaultProvider="SqlRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".SueetieROLES">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SueetieServer" applicationName="Sueetie"/>
      </providers>
    </roleManager>
    <profile>
      <properties>
        <add name="Culture" type="String"/>
        <add name="Timezone" type="String"/>
        <add name="PageChanges" type="String"/>
        <add name="DiscussionMessages" type="String"/>
        <add name="NamespacePageChanges" type="String"/>
        <add name="NamespaceDiscussionMessages" type="String"/>
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <remove name="ApplicationInsightsWebTracking"/>
    </modules>
  </system.webServer>
</configuration>